%html
  %head
    %title BAM! - A Real Time Tactics simulator
  %body
    %center
      %h2 BAM!
      %p An ASCII real time tactic simulator 
    %h3 Game (Pre-alpha)
    %p
      %a{:title => "Game", :href => "game"} Play Now
      , but note that the game is still under development.